body {
    font-family: 'Arial', sans-serif;
    background-image: url(img/spinz-news_uid_664f04f1cba98.webp);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #f2a2a8; */
    text-align: center;
}

h1 {
    color: #c407f3;
    margin-top: 20px;
    font-size: 40px;
}

.game-container {
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

.reel {
    width: 80px;
    height: 80px;
    border: 5px solid #ffda44;
    font-size: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin: 5px;
    transition: transform 0.9s ease-in-out;
}

.spin-button {
    background-color: #ffda44;
    color: #5c3566;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

.spin-button:hover {
    background-color: #ffab44;
}

#result {
    margin-top: 20px;
    font-size: 1.5em;
}


.spin {
    transform: rotateX(360deg);
}


.mid-line {
    border: 10px solid rgb(0, 0, 255);
    background-color: #fff5f5;
}
